[user]
	name = Nate Berkopec
	email = nate.berkopec@gmail.com
	signingkey = 19616755F4328D71
[push]
  default = simple
        followTags = true
	autoSetupRemote = true
[github]
  user = nateberkopec
[credential "https://github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
[filter "lfs"]
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        required = true
        process = git-lfs filter-process
[color]
        ui = true
[alias]
        commend = commit --amend --no-edit
        please = push --force-with-lease
        co-main = "!f() { \
                branch=$(git symbolic-ref refs/remotes/origin/HEAD 2>/dev/null | sed 's@^refs/remotes/origin/@@'); \
                if [ -z \"$branch\" ]; then \
                    for b in main master staging develop; do \
                        if git show-ref --verify --quiet refs/heads/$b; then \
                            branch=$b; \
                            break; \
                        fi; \
                    done; \
                fi; \
                if [ -z \"$branch\" ]; then \
                    echo 'No main branch found'; \
                    exit 1; \
                fi; \
                git checkout $branch; \
            }; f"
        co = checkout
        wt = "!f() { git worktree add .worktrees/$1 $1; }; f"
        wtn = "!f() { git worktree add -b $1 .worktrees/$1; }; f"
[core]
        excludesfile = /Users/nateberkopec/.gitignore
	editor = code -w
	hooksPath = /Users/nateberkopec/.git-hooks
[pull]
        rebase = false
[init]
        defaultBranch = main
[branch]
	sort = -committerdate
[commit]
	gpgsign = true
[gpg]
	program = gpg
[diff]
        external = difft
[include]
	path = ~/.gitconfig.local
