<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AutoRehide</key>
	<true/>
	<key>CanToggleAlwaysHiddenSection</key>
	<true/>
	<key>CustomIceIconIsTemplate</key>
	<false/>
	<key>EnableAlwaysHiddenSection</key>
	<true/>
	<key>HideApplicationMenus</key>
	<true/>
	<key>Hotkeys</key>
	<dict>
		<key>EnableIceBar</key>
		<data>
		bnVsbA==
		</data>
		<key>SearchMenuBarItems</key>
		<data>
		bnVsbA==
		</data>
		<key>ShowSectionDividers</key>
		<data>
		bnVsbA==
		</data>
		<key>ToggleAlwaysHiddenSection</key>
		<data>
		bnVsbA==
		</data>
		<key>ToggleApplicationMenus</key>
		<data>
		bnVsbA==
		</data>
		<key>ToggleHiddenSection</key>
		<data>
		bnVsbA==
		</data>
	</dict>
	<key>IceBarLocation</key>
	<integer>0</integer>
	<key>IceIcon</key>
	<data>
	eyJuYW1lIjoiRG90IiwidmlzaWJsZSI6eyJjYXRhbG9nIjp7Il8wIjoiRG90U3Ryb2tl
	In19LCJoaWRkZW4iOnsiY2F0YWxvZyI6eyJfMCI6IkRvdEZpbGwifX19
	</data>
	<key>ItemSpacingOffset</key>
	<real>0.0</real>
	<key>MenuBarAppearanceConfiguration</key>
	<data>
	eyJ0aW50Q29sb3IiOnsiY29sb3JTcGFjZSI6IkFBQVJuR0Z3Y0d3Q0FBQUFiVzUwY2tk
	U1FWbFlXVm9nQjl3QUNBQVhBQThBTGdBUFlXTnpjRUZRVUV3QUFBQUFibTl1WlFBQUFB
	QUFBQUFBQUFBQUFBQUFBQUFBQVBiV0FBRUFBQUFBMHkxaGNIQnNBQUFBQUFBQUFBQUFB
	QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFG
	WkdWell3QUFBTUFBQUFCNVpITmpiUUFBQVR3QUFBZ2FZM0J5ZEFBQUNWZ0FBQUFqZDNS
	d2RBQUFDWHdBQUFBVWExUlNRd0FBQ1pBQUFBZ01aR1Z6WXdBQUFBQUFBQUFmUjJWdVpY
	SnBZeUJIY21GNUlFZGhiVzFoSURJdU1pQlFjbTltYVd4bEFBQUFBQUFBQUFBQUFBQUFB
	QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
	QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFHMXNkV01BQUFB
	QUFBQUFId0FBQUF4emExTkxBQUFBTGdBQUFZUmtZVVJMQUFBQU9nQUFBYkpqWVVWVEFB
	QUFPQUFBQWV4MmFWWk9BQUFBUUFBQUFpUndkRUpTQUFBQVNnQUFBbVIxYTFWQkFBQUFM
	QUFBQXE1bWNrWlZBQUFBUGdBQUF0cG9kVWhWQUFBQU5BQUFBeGg2YUZSWEFBQUFHZ0FB
	QTB4cmIwdFNBQUFBSWdBQUEyWnVZazVQQUFBQU9nQUFBNGhqYzBOYUFBQUFLQUFBQThK
	b1pVbE1BQUFBSkFBQUErcHliMUpQQUFBQUtnQUFCQTVrWlVSRkFBQUFUZ0FBQkRocGRF
	bFVBQUFBVGdBQUJJWnpkbE5GQUFBQU9BQUFCTlI2YUVOT0FBQUFHZ0FBQlF4cVlVcFFB
	QUFBSmdBQUJTWmxiRWRTQUFBQUtnQUFCVXh3ZEZCUEFBQUFVZ0FBQlhadWJFNU1BQUFB
	UUFBQUJjaGxjMFZUQUFBQVRBQUFCZ2gwYUZSSUFBQUFNZ0FBQmxSMGNsUlNBQUFBSkFB
	QUJvWm1hVVpKQUFBQVJnQUFCcXBvY2toU0FBQUFQZ0FBQnZCd2JGQk1BQUFBU2dBQUJ5
	NWhja1ZIQUFBQUxBQUFCM2h5ZFZKVkFBQUFPZ0FBQjZSbGJsVlRBQUFBUEFBQUI5NEFW
	Z0ZoQUdVQWJ3QmlBR1VBWXdCdUFPRUFJQUJ6QUdrQWRnRGhBQ0FBWndCaEFHMEFZUUFn
	QURJQUxBQXlBRWNBWlFCdUFHVUFjZ0JwQUhNQWF3QWdBR2NBY2dEbEFDQUFNZ0FzQURJ
	QUlBQm5BR0VBYlFCdEFHRUFMUUJ3QUhJQWJ3Qm1BR2tBYkFCSEFHRUFiUUJ0QUdFQUlB
	QmtBR1VBSUFCbkFISUFhUUJ6QUc4QWN3QWdBR2NBWlFCdUFPZ0FjZ0JwQUdNQVlRQWdB
	RElBTGdBeUFFTWVwUUIxQUNBQWFBRHNBRzRBYUFBZ0FFMEE0QUIxQUNBQWVBRGhBRzBB
	SUFCREFHZ0FkUUJ1QUdjQUlBQkhBR0VBYlFCdEFHRUFJQUF5QUM0QU1nQlFBR1VBY2dC
	bUFHa0FiQUFnQUVjQVpRQnVBT2tBY2dCcEFHTUFid0FnQUdRQVlRQWdBRWNBWVFCdEFH
	RUFJQUJrQUdVQUlBQkRBR2tBYmdCNkFHRUFjd0FnQURJQUxBQXlCQmNFTUFRekJEQUVP
	d1JNQkQwRU1BQWdBRWNBY2dCaEFIa0FMUVF6QkRBRVBBUXdBQ0FBTWdBdUFESUFVQUJ5
	QUc4QVpnQnBBR3dBSUFCbkFPa0FiZ0RwQUhJQWFRQnhBSFVBWlFBZ0FHY0FjZ0JwQUhN
	QUlBQm5BR0VBYlFCdEFHRUFJQUF5QUN3QU1nREJBR3dBZEFCaEFHd0E0UUJ1QUc4QWN3
	QWdBSE1BZWdEOEFISUFhd0JsQUNBQVp3QmhBRzBBYlFCaEFDQUFNZ0F1QURLUUduVW9j
	SENXamxGSlhxWUFNZ0F1QURLQ2NsOXBZOCtQOE1kOHZCZ0FJTmFNd01rQUlLd1F1Y2dB
	SUFBeUFDNEFNZ0FnMVFTNFhOTU14M3dBUndCbEFHNEFaUUJ5QUdrQWN3QnJBQ0FBWndC
	eUFPVUFJQUJuQUdFQWJRQnRBR0VBSUFBeUFDd0FNZ0F0QUhBQWNnQnZBR1lBYVFCc0FF
	OEFZZ0JsQUdNQWJnRGhBQ0FCWVFCbEFHUUE0UUFnQUdjQVlRQnRBR0VBSUFBeUFDNEFN
	Z1hTQmRBRjNnWFVBQ0FGMEFYa0JkVUY2QUFnQmRzRjNBWGNCZGtBSUFBeUFDNEFNZ0JI
	QUdFQWJRQmhBQ0FBWndCeUFHa0FJQUJuQUdVQWJnQmxBSElBYVFCakFRTUFJQUF5QUN3
	QU1nQkJBR3dBYkFCbkFHVUFiUUJsQUdrQWJnQmxBSE1BSUFCSEFISUFZUUIxQUhNQWRB
	QjFBR1lBWlFCdUFDMEFVQUJ5QUc4QVpnQnBBR3dBSUFCSEFHRUFiUUJ0QUdFQUlBQXlB
	Q3dBTWdCUUFISUFid0JtQUdrQWJBQnZBQ0FBWndCeUFHa0Fad0JwQUc4QUlBQm5BR1VB
	YmdCbEFISUFhUUJqQUc4QUlBQmtBR1VBYkFCc0FHRUFJQUJuQUdFQWJRQnRBR0VBSUFB
	eUFDd0FNZ0JIQUdVQWJnQmxBSElBYVFCekFHc0FJQUJuQUhJQTVRQWdBRElBTEFBeUFD
	QUFad0JoQUcwQWJRQmhBSEFBY2dCdkFHWUFhUUJzWm02UUduQndYcVo4KzJWd0FESUFM
	Z0F5WTgrUDhHV0hUdlpPQUlJc01MQXc3RENrTUt3dzh6RGVBQ0FBTWdBdUFESUFJRERY
	TU8wdzFUQ2hNS1F3NndPVEE3VUR2UU81QTdvRHpBQWdBNU1EdWdQQkE3a0FJQU9UQTZ3
	RHZBTzhBN0VBSUFBeUFDNEFNZ0JRQUdVQWNnQm1BR2tBYkFBZ0FHY0FaUUJ1QU9rQWNn
	QnBBR01BYndBZ0FHUUFaUUFnQUdNQWFRQnVBSG9BWlFCdUFIUUFid0J6QUNBQVpBQmhB
	Q0FBUndCaEFHMEFiUUJoQUNBQU1nQXNBRElBUVFCc0FHY0FaUUJ0QUdVQVpRQnVBQ0FB
	WndCeUFHa0FhZ0J6QUNBQVp3QmhBRzBBYlFCaEFDQUFNZ0FzQURJQUxRQndBSElBYndC
	bUFHa0FaUUJzQUZBQVpRQnlBR1lBYVFCc0FDQUFad0JsQUc0QTZRQnlBR2tBWXdCdkFD
	QUFaQUJsQUNBQVp3QmhBRzBBYlFCaEFDQUFaQUJsQUNBQVp3QnlBR2tBY3dCbEFITUFJ
	QUF5QUN3QU1nNGpEakVPQnc0cURqVU9RUTRCRGlFT0lRNHlEa0FPQVE0akRpSU9UQTRY
	RGpFT1NBNG5Ea1FPR3dBZ0FESUFMZ0F5QUVjQVpRQnVBR1VBYkFBZ0FFY0FjZ0JwQUNB
	QVJ3QmhBRzBBWVFBZ0FESUFMQUF5QUZrQWJBQmxBR2tBYmdCbEFHNEFJQUJvQUdFQWNn
	QnRBR0VBWVFCdUFDQUFad0JoQUcwQWJRQmhBQ0FBTWdBc0FESUFJQUF0QUhBQWNnQnZB
	R1lBYVFCcEFHd0FhUUJIQUdVQWJnQmxBSElBYVFFTkFHc0FhUUFnQUVjQWNnQmhBSGtB
	SUFCSEFHRUFiUUJ0QUdFQUlBQXlBQzRBTWdBZ0FIQUFjZ0J2QUdZQWFRQnNBRlVBYmdC
	cEFIY0FaUUJ5QUhNQVlRQnNBRzRBZVFBZ0FIQUFjZ0J2QUdZQWFRQnNBQ0FBY3dCNkFH
	RUFjZ0J2QVZzQVl3QnBBQ0FBWndCaEFHMEFiUUJoQUNBQU1nQXNBRElHT2dZbkJrVUdK
	d0FnQURJQUxnQXlBQ0FHUkFaSUJrWUFJQVl4QmtVR0p3WXZCa29BSUFZNUJpY0dSUVFl
	QkRFRVNRUXdCRThBSUFSQkJEVUVRQVF3QkU4QUlBUXpCREFFUEFROEJEQUFJQUF5QUN3
	QU1nQXRCRDhFUUFRK0JFUUVPQVE3QkV3QVJ3QmxBRzRBWlFCeUFHa0FZd0FnQUVjQWNn
	QmhBSGtBSUFCSEFHRUFiUUJ0QUdFQUlBQXlBQzRBTWdBZ0FGQUFjZ0J2QUdZQWFRQnNB
	R1VBQUhSbGVIUUFBQUFBUTI5d2VYSnBaMmgwSUVGd2NHeGxJRWx1WXk0c0lESXdNVElB
	QUZoWldpQUFBQUFBQUFEelVRQUJBQUFBQVJiTVkzVnlkZ0FBQUFBQUFBUUFBQUFBQlFB
	S0FBOEFGQUFaQUI0QUl3QW9BQzBBTWdBM0FEc0FRQUJGQUVvQVR3QlVBRmtBWGdCakFH
	Z0FiUUJ5QUhjQWZBQ0JBSVlBaXdDUUFKVUFtZ0NmQUtRQXFRQ3VBTElBdHdDOEFNRUF4
	Z0RMQU5BQTFRRGJBT0FBNVFEckFQQUE5Z0Q3QVFFQkJ3RU5BUk1CR1FFZkFTVUJLd0V5
	QVRnQlBnRkZBVXdCVWdGWkFXQUJad0Z1QVhVQmZBR0RBWXNCa2dHYUFhRUJxUUd4QWJr
	QndRSEpBZEVCMlFIaEFla0I4Z0g2QWdNQ0RBSVVBaDBDSmdJdkFqZ0NRUUpMQWxRQ1hR
	Sm5BbkVDZWdLRUFvNENtQUtpQXF3Q3RnTEJBc3NDMVFMZ0F1c0M5UU1BQXdzREZnTWhB
	eTBET0FOREEwOERXZ05tQTNJRGZnT0tBNVlEb2dPdUE3b0R4d1BUQStBRDdBUDVCQVlF
	RXdRZ0JDMEVPd1JJQkZVRVl3UnhCSDRFakFTYUJLZ0V0Z1RFQk5NRTRRVHdCUDRGRFFV
	Y0JTc0ZPZ1ZKQlZnRlp3VjNCWVlGbGdXbUJiVUZ4UVhWQmVVRjlnWUdCaFlHSndZM0Jr
	Z0dXUVpxQm5zR2pBYWRCcThHd0FiUkJ1TUc5UWNIQnhrSEt3YzlCMDhIWVFkMEI0WUht
	UWVzQjc4SDBnZmxCXC9nSUN3Z2ZDRElJUmdoYUNHNElnZ2lXQ0tvSXZnalNDT2NJK3dr
	UUNTVUpPZ2xQQ1dRSmVRbVBDYVFKdWduUENlVUord29SQ2ljS1BRcFVDbW9LZ1FxWUNx
	NEt4UXJjQ3ZNTEN3c2lDemtMVVF0cEM0QUxtQXV3QzhnTDRRdjVEQklNS2d4RERGd01k
	UXlPREtjTXdBelpEUE1ORFEwbURVQU5XZzEwRFk0TnFRM0REZDROK0E0VERpNE9TUTVr
	RG44T213NjJEdElPN2c4SkR5VVBRUTllRDNvUGxnK3pEODhQN0JBSkVDWVFReEJoRUg0
	UW14QzVFTmNROVJFVEVURVJUeEZ0RVl3UnFoSEpFZWdTQnhJbUVrVVNaQktFRXFNU3d4
	TGpFd01USXhOREUyTVRneE9rRThVVDVSUUdGQ2NVU1JScUZJc1VyUlRPRlBBVkVoVTBG
	VllWZUJXYkZiMFY0QllERmlZV1NSWnNGbzhXc2hiV0Z2b1hIUmRCRjJVWGlSZXVGOUlY
	OXhnYkdFQVlaUmlLR0s4WTFSajZHU0FaUlJsckdaRVp0eG5kR2dRYUtocFJHbmNhbmhy
	Rkd1d2JGQnM3RzJNYmlodXlHOW9jQWh3cUhGSWNleHlqSE13YzlSMGVIVWNkY0IyWkhj
	TWQ3QjRXSGtBZWFoNlVIcjRlNlI4VEh6NGZhUitVSDc4ZjZpQVZJRUVnYkNDWUlNUWc4
	Q0VjSVVnaGRTR2hJYzRoK3lJbklsVWlnaUt2SXQwakNpTTRJMllqbENQQ0lcL0FrSHlS
	TkpId2txeVRhSlFrbE9DVm9KWmNseHlYM0ppY21WeWFISnJjbTZDY1lKMGtuZWllcko5
	d29EU2dcL0tIRW9vaWpVS1FZcE9DbHJLWjBwMENvQ0tqVXFhQ3FiS3M4ckFpczJLMmty
	blN2UkxBVXNPU3h1TEtJczF5ME1MVUV0ZGkyckxlRXVGaTVNTG9JdXR5N3VMeVF2V2kr
	Ukw4Y3ZcL2pBMU1Hd3dwRERiTVJJeFNqR0NNYm94OGpJcU1tTXltekxVTXcwelJqTlwv
	TTdnejhUUXJOR1UwbmpUWU5STTFUVFdITmNJMVwvVFkzTm5JMnJqYnBOeVEzWURlY045
	YzRGRGhRT0l3NHlEa0ZPVUk1ZnptOE9mazZOanAwT3JJNjd6c3RPMnM3cWp2b1BDYzha
	VHlrUE9NOUlqMWhQYUU5NEQ0Z1BtQStvRDdnUHlFXC9ZVCtpUCtKQUkwQmtRS1pBNTBF
	cFFXcEJyRUh1UWpCQ2NrSzFRdmRET2tOOVE4QkVBMFJIUklwRXprVVNSVlZGbWtYZVJp
	SkdaMGFyUnZCSE5VZDdSOEJJQlVoTFNKRkkxMGtkU1dOSnFVbndTamRLZlVyRVN3eExV
	MHVhUytKTUtreHlUTHBOQWsxS1RaTk4zRTRsVG01T3QwOEFUMGxQazBcL2RVQ2RRY1ZD
	N1VRWlJVRkdiVWVaU01WSjhVc2RURTFOZlU2cFQ5bFJDVkk5VTIxVW9WWFZWd2xZUFZs
	eFdxVmIzVjBSWGtsZmdXQzlZZlZqTFdScFphVm00V2dkYVZscW1XdlZiUlZ1VlcrVmNO
	VnlHWE5aZEoxMTRYY2xlR2w1c1hyMWZEMTloWDdOZ0JXQlhZS3BnXC9HRlBZYUpoOVdK
	SllweGk4R05EWTVkajYyUkFaSlJrNldVOVpaSmw1Mlk5WnBKbTZHYzlaNU5uNldnXC9h
	SlpvN0dsRGFacHA4V3BJYXA5cTkydFBhNmRyXC8yeFhiSzl0Q0cxZ2JibHVFbTVyYnNS
	dkhtOTRiOUZ3SzNDR2NPQnhPbkdWY2ZCeVMzS21jd0Z6WFhPNGRCUjBjSFRNZFNoMWhY
	WGhkajUybTNiNGQxWjNzM2dSZUc1NHpIa3FlWWw1NTNwR2VxVjdCSHRqZThKOElYeUJm
	T0Y5UVgyaGZnRitZbjdDZnlOXC9oSFwvbGdFZUFxSUVLZ1d1QnpZSXdncEtDOUlOWGc3
	cUVIWVNBaE9PRlI0V3JoZzZHY29iWGh6dUhuNGdFaUdtSXpva3ppWm1KXC9vcGtpc3FM
	TUl1V2lcL3lNWTR6S2pUR05tSTNcL2ptYU96bzgyajU2UUJwQnVrTmFSUDVHb2toR1Nl
	cExqazAyVHRwUWdsSXFVOUpWZmxjbVdOSmFmbHdxWGRaZmdtRXlZdUpra21aQ1pcL0pw
	b210V2JRcHV2bkJ5Y2laejNuV1NkMHA1QW5xNmZIWitMblwvcWdhYURZb1VlaHRxSW1v
	cGFqQnFOMm8rYWtWcVRIcFRpbHFhWWFwb3VtXC9hZHVwK0NvVXFqRXFUZXBxYW9jcW8r
	ckFxdDFxK21zWEt6UXJVU3R1SzR0cnFHdkZxK0xzQUN3ZGJEcXNXQ3gxckpMc3NLek9M
	T3V0Q1cwbkxVVHRZcTJBYlo1dHZDM2FMZmd1Rm00MGJsS3VjSzZPN3ExdXk2N3A3d2h2
	SnU5RmIyUHZncStoTDdcL3YzcVwvOWNCd3dPekJaOEhqd2xcL0MyOE5ZdzlURVVjVE94
	VXZGeU1aR3hzUEhRY2VcL3lEM0l2TWs2eWJuS09NcTN5emJMdHN3MXpMWE5OYzIxempi
	T3RzODN6N2pRT2RDNjBUelJ2dElcLzBzSFRSTlBHMUVuVXk5Vk8xZEhXVmRiWTExelg0
	TmhrMk9qWmJObngybmJhKzl1QTNBWGNpdDBRM1piZUhONmkzeW5mcitBMjRMM2hST0hN
	NGxQaTIrTmo0K3ZrYytUODVZVG1EZWFXNXhcL25xZWd5Nkx6cFJ1blE2bHZxNWV0dzZc
	L3ZzaHUwUjdaenVLTzYwNzBEdnpQQlk4T1h4Y3ZIXC84b3p6R2ZPbjlEVDB3dlZROWQ3
	MmJmYjc5NHI0R2ZpbytUajV4XC9wWCt1ZjdkXC93SFwvSmo5S2YyNlwva3YrM1A5dFwv
	XC84PSIsImNvbXBvbmVudHMiOlswLDFdfSwiaGFzQm9yZGVyIjpmYWxzZSwidGludEdy
	YWRpZW50Ijp7InN0b3BzIjpbeyJjb2xvciI6eyJjb2xvclNwYWNlIjoiQUFBTVNFeHBi
	bThDRUFBQWJXNTBjbEpIUWlCWVdWb2dCODRBQWdBSkFBWUFNUUFBWVdOemNFMVRSbFFB
	QUFBQVNVVkRJSE5TUjBJQUFBQUFBQUFBQUFBQUFBQUFBUGJXQUFFQUFBQUEweTFJVUNB
	Z0FBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
	QUFBQUFBQUFBQUFBQVJZM0J5ZEFBQUFWQUFBQUF6WkdWell3QUFBWVFBQUFCc2QzUndk
	QUFBQWZBQUFBQVVZbXR3ZEFBQUFnUUFBQUFVY2xoWldnQUFBaGdBQUFBVVoxaFpXZ0FB
	QWl3QUFBQVVZbGhaV2dBQUFrQUFBQUFVWkcxdVpBQUFBbFFBQUFCd1pHMWtaQUFBQXNR
	QUFBQ0lkblZsWkFBQUEwd0FBQUNHZG1sbGR3QUFBOVFBQUFBa2JIVnRhUUFBQVwvZ0FB
	QUFVYldWaGN3QUFCQXdBQUFBa2RHVmphQUFBQkRBQUFBQU1jbFJTUXdBQUJEd0FBQWdN
	WjFSU1F3QUFCRHdBQUFnTVlsUlNRd0FBQkR3QUFBZ01kR1Y0ZEFBQUFBQkRiM0I1Y21s
	bmFIUWdLR01wSURFNU9UZ2dTR1YzYkdWMGRDMVFZV05yWVhKa0lFTnZiWEJoYm5rQUFH
	UmxjMk1BQUFBQUFBQUFFbk5TUjBJZ1NVVkROakU1TmpZdE1pNHhBQUFBQUFBQUFBQUFB
	QUFTYzFKSFFpQkpSVU0yTVRrMk5pMHlMakVBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
	QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFGaFpXaUFBQUFB
	QUFBRHpVUUFCQUFBQUFSYk1XRmxhSUFBQUFBQUFBQUFBQUFBQUFBQUFBQUJZV1ZvZ0FB
	QUFBQUFBYjZJQUFEajFBQUFEa0ZoWldpQUFBQUFBQUFCaW1RQUF0NFVBQUJqYVdGbGFJ
	QUFBQUFBQUFDU2dBQUFQaEFBQXRzOWtaWE5qQUFBQUFBQUFBQlpKUlVNZ2FIUjBjRG92
	TDNkM2R5NXBaV011WTJnQUFBQUFBQUFBQUFBQUFCWkpSVU1nYUhSMGNEb3ZMM2QzZHk1
	cFpXTXVZMmdBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
	QUFBQUFBQUFBQUFBQUFBQUFBWkdWell3QUFBQUFBQUFBdVNVVkRJRFl4T1RZMkxUSXVN
	U0JFWldaaGRXeDBJRkpIUWlCamIyeHZkWElnYzNCaFkyVWdMU0J6VWtkQ0FBQUFBQUFB
	QUFBQUFBQXVTVVZESURZeE9UWTJMVEl1TVNCRVpXWmhkV3gwSUZKSFFpQmpiMnh2ZFhJ
	Z2MzQmhZMlVnTFNCelVrZENBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUdSbGMy
	TUFBQUFBQUFBQUxGSmxabVZ5Wlc1alpTQldhV1YzYVc1bklFTnZibVJwZEdsdmJpQnBi
	aUJKUlVNMk1UazJOaTB5TGpFQUFBQUFBQUFBQUFBQUFDeFNaV1psY21WdVkyVWdWbWxs
	ZDJsdVp5QkRiMjVrYVhScGIyNGdhVzRnU1VWRE5qRTVOall0TWk0eEFBQUFBQUFBQUFB
	QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFCMmFXVjNBQUFBQUFBVHBQNEFGRjh1QUJEUEZB
	QUQ3Y3dBQkJNTEFBTmNuZ0FBQUFGWVdWb2dBQUFBQUFCTUNWWUFVQUFBQUZjZjUyMWxZ
	WE1BQUFBQUFBQUFBUUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUtQQUFBQUFuTnBaeUFB
	QUFBQVExSlVJR04xY25ZQUFBQUFBQUFFQUFBQUFBVUFDZ0FQQUJRQUdRQWVBQ01BS0FB
	dEFESUFOd0E3QUVBQVJRQktBRThBVkFCWkFGNEFZd0JvQUcwQWNnQjNBSHdBZ1FDR0FJ
	c0FrQUNWQUpvQW53Q2tBS2tBcmdDeUFMY0F2QURCQU1ZQXl3RFFBTlVBMndEZ0FPVUE2
	d0R3QVBZQSt3RUJBUWNCRFFFVEFSa0JId0VsQVNzQk1nRTRBVDRCUlFGTUFWSUJXUUZn
	QVdjQmJnRjFBWHdCZ3dHTEFaSUJtZ0doQWFrQnNRRzVBY0VCeVFIUkFka0I0UUhwQWZJ
	QitnSURBZ3dDRkFJZEFpWUNMd0k0QWtFQ1N3SlVBbDBDWndKeEFub0NoQUtPQXBnQ29n
	S3NBcllDd1FMTEF0VUM0QUxyQXZVREFBTUxBeFlESVFNdEF6Z0RRd05QQTFvRFpnTnlB
	MzREaWdPV0E2SURyZ082QThjRDB3UGdBK3dEK1FRR0JCTUVJQVF0QkRzRVNBUlZCR01F
	Y1FSK0JJd0VtZ1NvQkxZRXhBVFRCT0VFOEFUK0JRMEZIQVVyQlRvRlNRVllCV2NGZHdX
	R0JaWUZwZ1cxQmNVRjFRWGxCZllHQmdZV0JpY0dOd1pJQmxrR2FnWjdCb3dHblFhdkJz
	QUcwUWJqQnZVSEJ3Y1pCeXNIUFFkUEIyRUhkQWVHQjVrSHJBZVwvQjlJSDVRZjRDQXNJ
	SHdneUNFWUlXZ2h1Q0lJSWxnaXFDTDRJMGdqbkNQc0pFQWtsQ1RvSlR3bGtDWGtKandt
	a0Nib0p6d25sQ2ZzS0VRb25DajBLVkFwcUNvRUttQXF1Q3NVSzNBcnpDd3NMSWdzNUMx
	RUxhUXVBQzVnTHNBdklDK0VMK1F3U0RDb01Rd3hjREhVTWpneW5ETUFNMlF6ekRRME5K
	ZzFBRFZvTmRBMk9EYWtOd3czZURmZ09FdzR1RGtrT1pBNVwvRHBzT3RnN1NEdTRQQ1E4
	bEQwRVBYZzk2RDVZUHN3XC9QRCt3UUNSQW1FRU1RWVJCK0VKc1F1UkRYRVBVUkV4RXhF
	VThSYlJHTUVhb1J5UkhvRWdjU0poSkZFbVFTaEJLakVzTVM0eE1ERXlNVFF4TmpFNE1U
	cEJQRkUrVVVCaFFuRkVrVWFoU0xGSzBVemhUd0ZSSVZOQlZXRlhnVm14VzlGZUFXQXhZ
	bUZra1diQmFQRnJJVzFoYjZGeDBYUVJkbEY0a1hyaGZTRlwvY1lHeGhBR0dVWWloaXZH
	TlVZK2hrZ0dVVVpheG1SR2JjWjNSb0VHaW9hVVJwM0dwNGF4UnJzR3hRYk94dGpHNG9i
	c2h2YUhBSWNLaHhTSEhzY294ek1IUFVkSGgxSEhYQWRtUjNESGV3ZUZoNUFIbW9lbEI2
	K0h1a2ZFeDgrSDJrZmxCK1wvSCtvZ0ZTQkJJR3dnbUNERUlQQWhIQ0ZJSVhVaG9TSE9J
	ZnNpSnlKVklvSWlyeUxkSXdvak9DTm1JNVFqd2lQd0pCOGtUU1I4SktzazJpVUpKVGds
	YUNXWEpjY2w5eVluSmxjbWh5YTNKdWduR0NkSkozb25xeWZjS0Ewb1B5aHhLS0lvMUNr
	R0tUZ3BheW1kS2RBcUFpbzFLbWdxbXlyUEt3SXJOaXRwSzUwcjBTd0ZMRGtzYml5aUxO
	Y3REQzFCTFhZdHF5M2hMaFl1VEM2Q0xyY3U3aThrTDFvdmtTXC9ITFwvNHdOVEJzTUtR
	dzJ6RVNNVW94Z2pHNk1mSXlLakpqTXBzeTFETU5NMFl6ZnpPNE1cL0UwS3pSbE5KNDAy
	RFVUTlUwMWh6WENOZjAyTnpaeU5xNDI2VGNrTjJBM25EZlhPQlE0VURpTU9NZzVCVGxD
	T1g4NXZEbjVPalk2ZERxeU91ODdMVHRyTzZvNzZEd25QR1U4cER6alBTSTlZVDJoUGVB
	K0lENWdQcUErNEQ4aFAyRVwvb2pcL2lRQ05BWkVDbVFPZEJLVUZxUWF4QjdrSXdRbkpD
	dFVMM1F6cERmVVBBUkFORVIwU0tSTTVGRWtWVlJacEYza1lpUm1kR3EwYndSelZIZTBm
	QVNBVklTMGlSU05kSkhVbGpTYWxKOEVvM1NuMUt4RXNNUzFOTG1rdmlUQ3BNY2t5NlRR
	Sk5TazJUVGR4T0pVNXVUcmRQQUU5SlQ1TlAzVkFuVUhGUXUxRUdVVkJSbTFIbVVqRlNm
	RkxIVXhOVFgxT3FVXC9aVVFsU1BWTnRWS0ZWMVZjSldEMVpjVnFsVzkxZEVWNUpYNEZn
	dldIMVl5MWthV1dsWnVGb0hXbFphcGxyMVcwVmJsVnZsWERWY2hseldYU2RkZUYzSlho
	cGViRjY5WHc5ZllWK3pZQVZnVjJDcVlQeGhUMkdpWWZWaVNXS2NZdkJqUTJPWFkrdGtR
	R1NVWk9sbFBXV1NaZWRtUFdhU1p1aG5QV2VUWitsb1AyaVdhT3hwUTJtYWFmRnFTR3Fm
	YXZkclQydW5hXC85c1YyeXZiUWh0WUcyNWJoSnVhMjdFYng1dmVHXC9SY0N0d2huRGdj
	VHB4bFhId2NrdHlwbk1CYzExenVIUVVkSEIwekhVb2RZVjE0WFkrZHB0MitIZFdkN040
	RVhodWVNeDVLbm1KZWVkNlJucWxld1I3WTN2Q2ZDRjhnWHpoZlVGOW9YNEJmbUord244
	amY0UlwvNVlCSGdLaUJDb0ZyZ2MyQ01JS1NndlNEVjRPNmhCMkVnSVRqaFVlRnE0WU9o
	bktHMTRjN2g1K0lCSWhwaU02Sk00bVppZjZLWklyS2l6Q0xsb3Y4akdPTXlvMHhqWmlO
	XC80NW1qczZQTm8rZWtBYVFicERXa1QrUnFKSVJrbnFTNDVOTms3YVVJSlNLbFBTVlg1
	WEpsalNXbjVjS2wzV1g0SmhNbUxpWkpKbVFtZnlhYUpyVm0wS2JyNXdjbkltYzk1MWtu
	ZEtlUUo2dW54MmZpNVwvNm9HbWcyS0ZIb2JhaUpxS1dvd2FqZHFQbXBGYWt4NlU0cGFt
	bUdxYUxwdjJuYnFmZ3FGS294S2szcWFtcUhLcVBxd0tyZGF2cHJGeXMwSzFFcmJpdUxh
	NmhyeGF2aTdBQXNIV3c2ckZnc2RheVM3TENzeml6cnJRbHRKeTFFN1dLdGdHMmViYnd0
	MmkzNExoWnVORzVTcm5DdWp1NnRic3V1NmU4SWJ5YnZSVzlqNzRLdm9TK1wvNzk2dlwv
	WEFjTURzd1dmQjQ4SmZ3dHZEV01QVXhGSEV6c1ZMeGNqR1JzYkR4MEhIdjhnOXlMekpP
	c201eWpqS3Q4czJ5N2JNTmN5MXpUWE50YzQyenJiUE44KzQwRG5RdXRFODBiN1NQOUxC
	MDBUVHh0UkoxTXZWVHRYUjFsWFcyTmRjMStEWVpOam8yV3paOGRwMjJ2dmJnTndGM0ly
	ZEVOMlczaHplb3Q4cDM2XC9nTnVDOTRVVGh6T0pUNHR2alkrUHI1SFBrXC9PV0U1ZzNt
	bHVjZjU2bm9NdWk4NlVicDBPcGI2dVhyY092NzdJYnRFZTJjN2lqdXRPOUE3OHp3V1BE
	bDhYTHhcL1wvS004eG56cFwvUTA5TUwxVVBYZTltMzIrXC9lSytCbjRxUGs0K2NmNlZc
	L3JuKzNmOEJcL3lZXC9Tbjl1djVMXC90elwvYmZcL1wvIiwiY29tcG9uZW50cyI6WzEs
	MSwxLDFdfSwibG9jYXRpb24iOjB9LHsiY29sb3IiOnsiY29sb3JTcGFjZSI6IkFBQU1T
	RXhwYm04Q0VBQUFiVzUwY2xKSFFpQllXVm9nQjg0QUFnQUpBQVlBTVFBQVlXTnpjRTFU
	UmxRQUFBQUFTVVZESUhOU1IwSUFBQUFBQUFBQUFBQUFBQUFBQVBiV0FBRUFBQUFBMHkx
	SVVDQWdBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
	QUFBQUFBQUFBQUFBQUFBQUFSWTNCeWRBQUFBVkFBQUFBelpHVnpZd0FBQVlRQUFBQnNk
	M1J3ZEFBQUFmQUFBQUFVWW10d2RBQUFBZ1FBQUFBVWNsaFpXZ0FBQWhnQUFBQVVaMWha
	V2dBQUFpd0FBQUFVWWxoWldnQUFBa0FBQUFBVVpHMXVaQUFBQWxRQUFBQndaRzFrWkFB
	QUFzUUFBQUNJZG5WbFpBQUFBMHdBQUFDR2RtbGxkd0FBQTlRQUFBQWtiSFZ0YVFBQUFc
	L2dBQUFBVWJXVmhjd0FBQkF3QUFBQWtkR1ZqYUFBQUJEQUFBQUFNY2xSU1F3QUFCRHdB
	QUFnTVoxUlNRd0FBQkR3QUFBZ01ZbFJTUXdBQUJEd0FBQWdNZEdWNGRBQUFBQUJEYjNC
	NWNtbG5hSFFnS0dNcElERTVPVGdnU0dWM2JHVjBkQzFRWVdOcllYSmtJRU52YlhCaGJu
	a0FBR1JsYzJNQUFBQUFBQUFBRW5OU1IwSWdTVVZETmpFNU5qWXRNaTR4QUFBQUFBQUFB
	QUFBQUFBU2MxSkhRaUJKUlVNMk1UazJOaTB5TGpFQUFBQUFBQUFBQUFBQUFBQUFBQUFB
	QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBRmhaV2lB
	QUFBQUFBQUR6VVFBQkFBQUFBUmJNV0ZsYUlBQUFBQUFBQUFBQUFBQUFBQUFBQUFCWVdW
	b2dBQUFBQUFBQWI2SUFBRGoxQUFBRGtGaFpXaUFBQUFBQUFBQmltUUFBdDRVQUFCamFX
	RmxhSUFBQUFBQUFBQ1NnQUFBUGhBQUF0czlrWlhOakFBQUFBQUFBQUJaSlJVTWdhSFIw
	Y0RvdkwzZDNkeTVwWldNdVkyZ0FBQUFBQUFBQUFBQUFBQlpKUlVNZ2FIUjBjRG92TDNk
	M2R5NXBaV011WTJnQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
	QUFBQUFBQUFBQUFBQUFBQUFBQUFBQVpHVnpZd0FBQUFBQUFBQXVTVVZESURZeE9UWTJM
	VEl1TVNCRVpXWmhkV3gwSUZKSFFpQmpiMnh2ZFhJZ2MzQmhZMlVnTFNCelVrZENBQUFB
	QUFBQUFBQUFBQUF1U1VWRElEWXhPVFkyTFRJdU1TQkVaV1poZFd4MElGSkhRaUJqYjJ4
	dmRYSWdjM0JoWTJVZ0xTQnpVa2RDQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFH
	UmxjMk1BQUFBQUFBQUFMRkpsWm1WeVpXNWpaU0JXYVdWM2FXNW5JRU52Ym1ScGRHbHZi
	aUJwYmlCSlJVTTJNVGsyTmkweUxqRUFBQUFBQUFBQUFBQUFBQ3hTWldabGNtVnVZMlVn
	Vm1sbGQybHVaeUJEYjI1a2FYUnBiMjRnYVc0Z1NVVkROakU1TmpZdE1pNHhBQUFBQUFB
	QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQjJhV1YzQUFBQUFBQVRwUDRBRkY4dUFC
	RFBGQUFEN2N3QUJCTUxBQU5jbmdBQUFBRllXVm9nQUFBQUFBQk1DVllBVUFBQUFGY2Y1
	MjFsWVhNQUFBQUFBQUFBQVFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFLUEFBQUFBbk5w
	WnlBQUFBQUFRMUpVSUdOMWNuWUFBQUFBQUFBRUFBQUFBQVVBQ2dBUEFCUUFHUUFlQUNN
	QUtBQXRBRElBTndBN0FFQUFSUUJLQUU4QVZBQlpBRjRBWXdCb0FHMEFjZ0IzQUh3QWdR
	Q0dBSXNBa0FDVkFKb0Fud0NrQUtrQXJnQ3lBTGNBdkFEQkFNWUF5d0RRQU5VQTJ3RGdB
	T1VBNndEd0FQWUErd0VCQVFjQkRRRVRBUmtCSHdFbEFTc0JNZ0U0QVQ0QlJRRk1BVklC
	V1FGZ0FXY0JiZ0YxQVh3Qmd3R0xBWklCbWdHaEFha0JzUUc1QWNFQnlRSFJBZGtCNFFI
	cEFmSUIrZ0lEQWd3Q0ZBSWRBaVlDTHdJNEFrRUNTd0pVQWwwQ1p3SnhBbm9DaEFLT0Fw
	Z0NvZ0tzQXJZQ3dRTExBdFVDNEFMckF2VURBQU1MQXhZRElRTXRBemdEUXdOUEExb0Ra
	Z055QTM0RGlnT1dBNklEcmdPNkE4Y0Qwd1BnQSt3RCtRUUdCQk1FSUFRdEJEc0VTQVJW
	QkdNRWNRUitCSXdFbWdTb0JMWUV4QVRUQk9FRThBVCtCUTBGSEFVckJUb0ZTUVZZQldj
	RmR3V0dCWllGcGdXMUJjVUYxUVhsQmZZR0JnWVdCaWNHTndaSUJsa0dhZ1o3Qm93R25R
	YXZCc0FHMFFiakJ2VUhCd2NaQnlzSFBRZFBCMkVIZEFlR0I1a0hyQWVcL0I5SUg1UWY0
	Q0FzSUh3Z3lDRVlJV2dodUNJSUlsZ2lxQ0w0STBnam5DUHNKRUFrbENUb0pUd2xrQ1hr
	Smp3bWtDYm9KendubENmc0tFUW9uQ2owS1ZBcHFDb0VLbUFxdUNzVUszQXJ6Q3dzTEln
	czVDMUVMYVF1QUM1Z0xzQXZJQytFTCtRd1NEQ29NUXd4Y0RIVU1qZ3luRE1BTTJRenpE
	UTBOSmcxQURWb05kQTJPRGFrTnd3M2VEZmdPRXc0dURra09aQTVcL0Rwc090ZzdTRHU0
	UENROGxEMEVQWGc5NkQ1WVBzd1wvUEQrd1FDUkFtRUVNUVlSQitFSnNRdVJEWEVQVVJF
	eEV4RVU4UmJSR01FYW9SeVJIb0VnY1NKaEpGRW1RU2hCS2pFc01TNHhNREV5TVRReE5q
	RTRNVHBCUEZFK1VVQmhRbkZFa1VhaFNMRkswVXpoVHdGUklWTkJWV0ZYZ1ZteFc5RmVB
	V0F4WW1Ga2tXYkJhUEZySVcxaGI2RngwWFFSZGxGNGtYcmhmU0ZcL2NZR3hoQUdHVVlp
	aGl2R05VWStoa2dHVVVaYXhtUkdiY1ozUm9FR2lvYVVScDNHcDRheFJyc0d4UWJPeHRq
	RzRvYnNodmFIQUljS2h4U0hIc2NveHpNSFBVZEhoMUhIWEFkbVIzREhld2VGaDVBSG1v
	ZWxCNitIdWtmRXg4K0gya2ZsQitcL0grb2dGU0JCSUd3Z21DREVJUEFoSENGSUlYVWhv
	U0hPSWZzaUp5SlZJb0lpcnlMZEl3b2pPQ05tSTVRandpUHdKQjhrVFNSOEpLc2syaVVK
	SlRnbGFDV1hKY2NsOXlZbkpsY21oeWEzSnVnbkdDZEpKM29ucXlmY0tBMG9QeWh4S0tJ
	bzFDa0dLVGdwYXltZEtkQXFBaW8xS21ncW15clBLd0lyTml0cEs1MHIwU3dGTERrc2Jp
	eWlMTmN0REMxQkxYWXRxeTNoTGhZdVRDNkNMcmN1N2k4a0wxb3ZrU1wvSExcLzR3TlRC
	c01LUXcyekVTTVVveGdqRzZNZkl5S2pKak1wc3kxRE1OTTBZemZ6TzRNXC9FMEt6UmxO
	SjQwMkRVVE5VMDFoelhDTmYwMk56WnlOcTQyNlRja04yQTNuRGZYT0JRNFVEaU1PTWc1
	QlRsQ09YODV2RG41T2pZNmREcXlPdTg3TFR0ck82bzc2RHduUEdVOHBEempQU0k5WVQy
	aFBlQStJRDVnUHFBKzREOGhQMkVcL29qXC9pUUNOQVpFQ21RT2RCS1VGcVFheEI3a0l3
	UW5KQ3RVTDNRenBEZlVQQVJBTkVSMFNLUk01RkVrVlZSWnBGM2tZaVJtZEdxMGJ3UnpW
	SGUwZkFTQVZJUzBpUlNOZEpIVWxqU2FsSjhFbzNTbjFLeEVzTVMxTkxta3ZpVENwTWNr
	eTZUUUpOU2syVFRkeE9KVTV1VHJkUEFFOUpUNU5QM1ZBblVIRlF1MUVHVVZCUm0xSG1V
	akZTZkZMSFV4TlRYMU9xVVwvWlVRbFNQVk50VktGVjFWY0pXRDFaY1ZxbFc5MWRFVjVK
	WDRGZ3ZXSDFZeTFrYVdXbFp1Rm9IV2xaYXBscjFXMFZibFZ2bFhEVmNobHpXWFNkZGVG
	M0pYaHBlYkY2OVh3OWZZVit6WUFWZ1YyQ3FZUHhoVDJHaVlmVmlTV0tjWXZCalEyT1hZ
	K3RrUUdTVVpPbGxQV1dTWmVkbVBXYVNadWhuUFdlVForbG9QMmlXYU94cFEybWFhZkZx
	U0dxZmF2ZHJUMnVuYVwvOXNWMnl2YlFodFlHMjViaEp1YTI3RWJ4NXZlR1wvUmNDdHdo
	bkRnY1RweGxYSHdja3R5cG5NQmMxMXp1SFFVZEhCMHpIVW9kWVYxNFhZK2RwdDIrSGRX
	ZDdONEVYaHVlTXg1S25tSmVlZDZSbnFsZXdSN1kzdkNmQ0Y4Z1h6aGZVRjlvWDRCZm1K
	K3duOGpmNFJcLzVZQkhnS2lCQ29GcmdjMkNNSUtTZ3ZTRFY0TzZoQjJFZ0lUamhVZUZx
	NFlPaG5LRzE0YzdoNStJQklocGlNNkpNNG1aaWY2S1pJcktpekNMbG92OGpHT015bzB4
	alppTlwvNDVtanM2UE5vK2VrQWFRYnBEV2tUK1JxSklSa25xUzQ1Tk5rN2FVSUpTS2xQ
	U1ZYNVhKbGpTV241Y0tsM1dYNEpoTW1MaVpKSm1RbWZ5YWFKclZtMEticjV3Y25JbWM5
	NTFrbmRLZVFKNnVueDJmaTVcLzZvR21nMktGSG9iYWlKcUtXb3dhamRxUG1wRmFreDZV
	NHBhbW1HcWFMcHYybmJxZmdxRktveEtrM3FhbXFIS3FQcXdLcmRhdnByRnlzMEsxRXJi
	aXVMYTZocnhhdmk3QUFzSFd3NnJGZ3NkYXlTN0xDc3ppenJyUWx0SnkxRTdXS3RnRzJl
	YmJ3dDJpMzRMaFp1Tkc1U3JuQ3VqdTZ0YnN1dTZlOElieWJ2Ulc5ajc0S3ZvUytcLzc5
	NnZcL1hBY01Ec3dXZkI0OEpmd3R2RFdNUFV4RkhFenNWTHhjakdSc2JEeDBISHY4Zzl5
	THpKT3NtNXlqakt0OHMyeTdiTU5jeTF6VFhOdGM0MnpyYlBOOCs0MERuUXV0RTgwYjdT
	UDlMQjAwVFR4dFJKMU12VlR0WFIxbFhXMk5kYzErRFlaTmpvMld6WjhkcDIydnZiZ053
	RjNJcmRFTjJXM2h6ZW90OHAzNlwvZ051Qzk0VVRoek9KVDR0dmpZK1ByNUhQa1wvT1dF
	NWczbWx1Y2Y1Nm5vTXVpODZVYnAwT3BiNnVYcmNPdjc3SWJ0RWUyYzdpanV0TzlBNzh6
	d1dQRGw4WEx4XC9cL0tNOHhuenBcL1EwOU1MMVVQWGU5bTMyK1wvZUsrQm40cVBrNCtj
	ZjZWXC9ybiszZjhCXC95WVwvU245dXY1TFwvdHpcL2JmXC9cLyIsImNvbXBvbmVudHMi
	OlswLDAsMCwxXX0sImxvY2F0aW9uIjoxfV19LCJzaGFwZUtpbmQiOjAsImJvcmRlckNv
	bG9yIjp7ImNvbG9yU3BhY2UiOiJBQUFSbkdGd2NHd0NBQUFBYlc1MGNrZFNRVmxZV1Zv
	Z0I5d0FDQUFYQUE4QUxnQVBZV056Y0VGUVVFd0FBQUFBYm05dVpRQUFBQUFBQUFBQUFB
	QUFBQUFBQUFBQUFQYldBQUVBQUFBQTB5MWhjSEJzQUFBQUFBQUFBQUFBQUFBQUFBQUFB
	QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBRlpHVnpZd0FB
	QU1BQUFBQjVaSE5qYlFBQUFUd0FBQWdhWTNCeWRBQUFDVmdBQUFBamQzUndkQUFBQ1h3
	QUFBQVVhMVJTUXdBQUNaQUFBQWdNWkdWell3QUFBQUFBQUFBZlIyVnVaWEpwWXlCSGNt
	RjVJRWRoYlcxaElESXVNaUJRY205bWFXeGxBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
	QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
	QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBRzFzZFdNQUFBQUFBQUFBSHdB
	QUFBeHphMU5MQUFBQUxnQUFBWVJrWVVSTEFBQUFPZ0FBQWJKallVVlRBQUFBT0FBQUFl
	eDJhVlpPQUFBQVFBQUFBaVJ3ZEVKU0FBQUFTZ0FBQW1SMWExVkJBQUFBTEFBQUFxNW1j
	a1pWQUFBQVBnQUFBdHBvZFVoVkFBQUFOQUFBQXhoNmFGUlhBQUFBR2dBQUEweHJiMHRT
	QUFBQUlnQUFBMlp1WWs1UEFBQUFPZ0FBQTRoamMwTmFBQUFBS0FBQUE4Sm9aVWxNQUFB
	QUpBQUFBK3B5YjFKUEFBQUFLZ0FBQkE1a1pVUkZBQUFBVGdBQUJEaHBkRWxVQUFBQVRn
	QUFCSVp6ZGxORkFBQUFPQUFBQk5SNmFFTk9BQUFBR2dBQUJReHFZVXBRQUFBQUpnQUFC
	U1psYkVkU0FBQUFLZ0FBQlV4d2RGQlBBQUFBVWdBQUJYWnViRTVNQUFBQVFBQUFCY2hs
	YzBWVEFBQUFUQUFBQmdoMGFGUklBQUFBTWdBQUJsUjBjbFJTQUFBQUpBQUFCb1ptYVVa
	SkFBQUFSZ0FBQnFwb2NraFNBQUFBUGdBQUJ2QndiRkJNQUFBQVNnQUFCeTVoY2tWSEFB
	QUFMQUFBQjNoeWRWSlZBQUFBT2dBQUI2UmxibFZUQUFBQVBBQUFCOTRBVmdGaEFHVUFi
	d0JpQUdVQVl3QnVBT0VBSUFCekFHa0FkZ0RoQUNBQVp3QmhBRzBBWVFBZ0FESUFMQUF5
	QUVjQVpRQnVBR1VBY2dCcEFITUFhd0FnQUdjQWNnRGxBQ0FBTWdBc0FESUFJQUJuQUdF
	QWJRQnRBR0VBTFFCd0FISUFid0JtQUdrQWJBQkhBR0VBYlFCdEFHRUFJQUJrQUdVQUlB
	Qm5BSElBYVFCekFHOEFjd0FnQUdjQVpRQnVBT2dBY2dCcEFHTUFZUUFnQURJQUxnQXlB
	RU1lcFFCMUFDQUFhQURzQUc0QWFBQWdBRTBBNEFCMUFDQUFlQURoQUcwQUlBQkRBR2dB
	ZFFCdUFHY0FJQUJIQUdFQWJRQnRBR0VBSUFBeUFDNEFNZ0JRQUdVQWNnQm1BR2tBYkFB
	Z0FFY0FaUUJ1QU9rQWNnQnBBR01BYndBZ0FHUUFZUUFnQUVjQVlRQnRBR0VBSUFCa0FH
	VUFJQUJEQUdrQWJnQjZBR0VBY3dBZ0FESUFMQUF5QkJjRU1BUXpCREFFT3dSTUJEMEVN
	QUFnQUVjQWNnQmhBSGtBTFFRekJEQUVQQVF3QUNBQU1nQXVBRElBVUFCeUFHOEFaZ0Jw
	QUd3QUlBQm5BT2tBYmdEcEFISUFhUUJ4QUhVQVpRQWdBR2NBY2dCcEFITUFJQUJuQUdF
	QWJRQnRBR0VBSUFBeUFDd0FNZ0RCQUd3QWRBQmhBR3dBNFFCdUFHOEFjd0FnQUhNQWVn
	RDhBSElBYXdCbEFDQUFad0JoQUcwQWJRQmhBQ0FBTWdBdUFES1FHblVvY0hDV2psRkpY
	cVlBTWdBdUFES0NjbDlwWTgrUDhNZDh2QmdBSU5hTXdNa0FJS3dRdWNnQUlBQXlBQzRB
	TWdBZzFRUzRYTk1NeDN3QVJ3QmxBRzRBWlFCeUFHa0Fjd0JyQUNBQVp3QnlBT1VBSUFC
	bkFHRUFiUUJ0QUdFQUlBQXlBQ3dBTWdBdEFIQUFjZ0J2QUdZQWFRQnNBRThBWWdCbEFH
	TUFiZ0RoQUNBQllRQmxBR1FBNFFBZ0FHY0FZUUJ0QUdFQUlBQXlBQzRBTWdYU0JkQUYz
	Z1hVQUNBRjBBWGtCZFVGNkFBZ0Jkc0YzQVhjQmRrQUlBQXlBQzRBTWdCSEFHRUFiUUJo
	QUNBQVp3QnlBR2tBSUFCbkFHVUFiZ0JsQUhJQWFRQmpBUU1BSUFBeUFDd0FNZ0JCQUd3
	QWJBQm5BR1VBYlFCbEFHa0FiZ0JsQUhNQUlBQkhBSElBWVFCMUFITUFkQUIxQUdZQVpR
	QnVBQzBBVUFCeUFHOEFaZ0JwQUd3QUlBQkhBR0VBYlFCdEFHRUFJQUF5QUN3QU1nQlFB
	SElBYndCbUFHa0FiQUJ2QUNBQVp3QnlBR2tBWndCcEFHOEFJQUJuQUdVQWJnQmxBSElB
	YVFCakFHOEFJQUJrQUdVQWJBQnNBR0VBSUFCbkFHRUFiUUJ0QUdFQUlBQXlBQ3dBTWdC
	SEFHVUFiZ0JsQUhJQWFRQnpBR3NBSUFCbkFISUE1UUFnQURJQUxBQXlBQ0FBWndCaEFH
	MEFiUUJoQUhBQWNnQnZBR1lBYVFCc1ptNlFHbkJ3WHFaOCsyVndBRElBTGdBeVk4K1A4
	R1dIVHZaT0FJSXNNTEF3N0RDa01Ld3c4ekRlQUNBQU1nQXVBRElBSUREWE1PMHcxVENo
	TUtRdzZ3T1RBN1VEdlFPNUE3b0R6QUFnQTVNRHVnUEJBN2tBSUFPVEE2d0R2QU84QTdF
	QUlBQXlBQzRBTWdCUUFHVUFjZ0JtQUdrQWJBQWdBR2NBWlFCdUFPa0FjZ0JwQUdNQWJ3
	QWdBR1FBWlFBZ0FHTUFhUUJ1QUhvQVpRQnVBSFFBYndCekFDQUFaQUJoQUNBQVJ3QmhB
	RzBBYlFCaEFDQUFNZ0FzQURJQVFRQnNBR2NBWlFCdEFHVUFaUUJ1QUNBQVp3QnlBR2tB
	YWdCekFDQUFad0JoQUcwQWJRQmhBQ0FBTWdBc0FESUFMUUJ3QUhJQWJ3Qm1BR2tBWlFC
	c0FGQUFaUUJ5QUdZQWFRQnNBQ0FBWndCbEFHNEE2UUJ5QUdrQVl3QnZBQ0FBWkFCbEFD
	QUFad0JoQUcwQWJRQmhBQ0FBWkFCbEFDQUFad0J5QUdrQWN3QmxBSE1BSUFBeUFDd0FN
	ZzRqRGpFT0J3NHFEalVPUVE0QkRpRU9JUTR5RGtBT0FRNGpEaUlPVEE0WERqRU9TQTRu
	RGtRT0d3QWdBRElBTGdBeUFFY0FaUUJ1QUdVQWJBQWdBRWNBY2dCcEFDQUFSd0JoQUcw
	QVlRQWdBRElBTEFBeUFGa0FiQUJsQUdrQWJnQmxBRzRBSUFCb0FHRUFjZ0J0QUdFQVlR
	QnVBQ0FBWndCaEFHMEFiUUJoQUNBQU1nQXNBRElBSUFBdEFIQUFjZ0J2QUdZQWFRQnBB
	R3dBYVFCSEFHVUFiZ0JsQUhJQWFRRU5BR3NBYVFBZ0FFY0FjZ0JoQUhrQUlBQkhBR0VB
	YlFCdEFHRUFJQUF5QUM0QU1nQWdBSEFBY2dCdkFHWUFhUUJzQUZVQWJnQnBBSGNBWlFC
	eUFITUFZUUJzQUc0QWVRQWdBSEFBY2dCdkFHWUFhUUJzQUNBQWN3QjZBR0VBY2dCdkFW
	c0FZd0JwQUNBQVp3QmhBRzBBYlFCaEFDQUFNZ0FzQURJR09nWW5Ca1VHSndBZ0FESUFM
	Z0F5QUNBR1JBWklCa1lBSUFZeEJrVUdKd1l2QmtvQUlBWTVCaWNHUlFRZUJERUVTUVF3
	QkU4QUlBUkJCRFVFUUFRd0JFOEFJQVF6QkRBRVBBUThCREFBSUFBeUFDd0FNZ0F0QkQ4
	RVFBUStCRVFFT0FRN0JFd0FSd0JsQUc0QVpRQnlBR2tBWXdBZ0FFY0FjZ0JoQUhrQUlB
	QkhBR0VBYlFCdEFHRUFJQUF5QUM0QU1nQWdBRkFBY2dCdkFHWUFhUUJzQUdVQUFIUmxl
	SFFBQUFBQVEyOXdlWEpwWjJoMElFRndjR3hsSUVsdVl5NHNJREl3TVRJQUFGaFpXaUFB
	QUFBQUFBRHpVUUFCQUFBQUFSYk1ZM1Z5ZGdBQUFBQUFBQVFBQUFBQUJRQUtBQThBRkFB
	WkFCNEFJd0FvQUMwQU1nQTNBRHNBUUFCRkFFb0FUd0JVQUZrQVhnQmpBR2dBYlFCeUFI
	Y0FmQUNCQUlZQWl3Q1FBSlVBbWdDZkFLUUFxUUN1QUxJQXR3QzhBTUVBeGdETEFOQUEx
	UURiQU9BQTVRRHJBUEFBOWdEN0FRRUJCd0VOQVJNQkdRRWZBU1VCS3dFeUFUZ0JQZ0ZG
	QVV3QlVnRlpBV0FCWndGdUFYVUJmQUdEQVlzQmtnR2FBYUVCcVFHeEFia0J3UUhKQWRF
	QjJRSGhBZWtCOGdINkFnTUNEQUlVQWgwQ0pnSXZBamdDUVFKTEFsUUNYUUpuQW5FQ2Vn
	S0VBbzRDbUFLaUFxd0N0Z0xCQXNzQzFRTGdBdXNDOVFNQUF3c0RGZ01oQXkwRE9BTkRB
	MDhEV2dObUEzSURmZ09LQTVZRG9nT3VBN29EeHdQVEErQUQ3QVA1QkFZRUV3UWdCQzBF
	T3dSSUJGVUVZd1J4Qkg0RWpBU2FCS2dFdGdURUJOTUU0UVR3QlA0RkRRVWNCU3NGT2dW
	SkJWZ0Zad1YzQllZRmxnV21CYlVGeFFYVkJlVUY5Z1lHQmhZR0p3WTNCa2dHV1FacUJu
	c0dqQWFkQnE4R3dBYlJCdU1HOVFjSEJ4a0hLd2M5QjA4SFlRZDBCNFlIbVFlc0I3OEgw
	Z2ZsQlwvZ0lDd2dmQ0RJSVJnaGFDRzRJZ2dpV0NLb0l2Z2pTQ09jSSt3a1FDU1VKT2ds
	UENXUUplUW1QQ2FRSnVnblBDZVVKK3dvUkNpY0tQUXBVQ21vS2dRcVlDcTRLeFFyY0N2
	TUxDd3NpQ3prTFVRdHBDNEFMbUF1d0M4Z0w0UXY1REJJTUtneERERndNZFF5T0RLY013
	QXpaRFBNTkRRMG1EVUFOV2cxMERZNE5xUTNERGQ0TitBNFREaTRPU1E1a0RuOE9tdzYy
	RHRJTzdnOEpEeVVQUVE5ZUQzb1BsZyt6RDg4UDdCQUpFQ1lRUXhCaEVINFFteEM1RU5j
	UTlSRVRFVEVSVHhGdEVZd1JxaEhKRWVnU0J4SW1Fa1VTWkJLRUVxTVN3eExqRXdNVEl4
	TkRFMk1UZ3hPa0U4VVQ1UlFHRkNjVVNSUnFGSXNVclJUT0ZQQVZFaFUwRlZZVmVCV2JG
	YjBWNEJZREZpWVdTUlpzRm84V3NoYldGdm9YSFJkQkYyVVhpUmV1RjlJWDl4Z2JHRUFZ
	WlJpS0dLOFkxUmo2R1NBWlJSbHJHWkVadHhuZEdnUWFLaHBSR25jYW5ockZHdXdiRkJz
	N0cyTWJpaHV5RzlvY0Fod3FIRkljZXh5akhNd2M5UjBlSFVjZGNCMlpIY01kN0I0V0hr
	QWVhaDZVSHI0ZTZSOFRIejRmYVIrVUg3OGY2aUFWSUVFZ2JDQ1lJTVFnOENFY0lVZ2hk
	U0doSWM0aCt5SW5JbFVpZ2lLdkl0MGpDaU00STJZamxDUENJXC9Ba0h5Uk5KSHdrcXlU
	YUpRa2xPQ1ZvSlpjbHh5WDNKaWNtVnlhSEpyY202Q2NZSjBrbmVpZXJKOXdvRFNnXC9L
	SEVvb2lqVUtRWXBPQ2xyS1owcDBDb0NLalVxYUNxYktzOHJBaXMySzJrcm5TdlJMQVVz
	T1N4dUxLSXMxeTBNTFVFdGRpMnJMZUV1Rmk1TUxvSXV0eTd1THlRdldpK1JMOGN2XC9q
	QTFNR3d3cEREYk1SSXhTakdDTWJveDhqSXFNbU15bXpMVU13MHpSak5cL003Z3o4VFFy
	TkdVMG5qVFlOUk0xVFRXSE5jSTFcL1RZM05uSTJyamJwTnlRM1lEZWNOOWM0RkRoUU9J
	dzR5RGtGT1VJNWZ6bThPZms2TmpwME9ySTY3enN0TzJzN3Fqdm9QQ2M4WlR5a1BPTTlJ
	ajFoUGFFOTRENGdQbUErb0Q3Z1B5RVwvWVQraVArSkFJMEJrUUtaQTUwRXBRV3BCckVI
	dVFqQkNja0sxUXZkRE9rTjlROEJFQTBSSFJJcEV6a1VTUlZWRm1rWGVSaUpHWjBhclJ2
	QkhOVWQ3UjhCSUJVaExTSkZJMTBrZFNXTkpxVW53U2pkS2ZVckVTd3hMVTB1YVMrSk1L
	a3h5VExwTkFrMUtUWk5OM0U0bFRtNU90MDhBVDBsUGswXC9kVUNkUWNWQzdVUVpSVUZH
	YlVlWlNNVko4VXNkVEUxTmZVNnBUOWxSQ1ZJOVUyMVVvVlhWVndsWVBWbHhXcVZiM1Yw
	UlhrbGZnV0M5WWZWakxXUnBaYVZtNFdnZGFWbHFtV3ZWYlJWdVZXK1ZjTlZ5R1hOWmRK
	MTE0WGNsZUdsNXNYcjFmRDE5aFg3TmdCV0JYWUtwZ1wvR0ZQWWFKaDlXSkpZcHhpOEdO
	RFk1ZGo2MlJBWkpSazZXVTlaWkpsNTJZOVpwSm02R2M5WjVObjZXZ1wvYUpabzdHbERh
	WnBwOFdwSWFwOXE5MnRQYTZkclwvMnhYYks5dENHMWdiYmx1RW01cmJzUnZIbTk0YjlG
	d0szQ0djT0J4T25HVmNmQnlTM0ttY3dGelhYTzRkQlIwY0hUTWRTaDFoWFhoZGo1Mm0z
	YjRkMVozczNnUmVHNTR6SGtxZVlsNTUzcEdlcVY3Qkh0amU4SjhJWHlCZk9GOVFYMmhm
	Z0YrWW43Q2Z5TlwvaEhcL2xnRWVBcUlFS2dXdUJ6WUl3Z3BLQzlJTlhnN3FFSFlTQWhP
	T0ZSNFdyaGc2R2NvYlhoenVIbjRnRWlHbUl6b2t6aVptSlwvb3BraXNxTE1JdVdpXC95
	TVk0ektqVEdObUkzXC9qbWFPem84Mmo1NlFCcEJ1a05hUlA1R29raEdTZXBMamswMlR0
	cFFnbElxVTlKVmZsY21XTkphZmx3cVhkWmZnbUV5WXVKa2ttWkNaXC9KcG9tdFdiUXB1
	dm5CeWNpWnozbldTZDBwNUFucTZmSForTG5cL3FnYWFEWW9VZWh0cUltb3BhakJxTjJv
	K2FrVnFUSHBUaWxxYVlhcG91bVwvYWR1cCtDb1VxakVxVGVwcWFvY3FvK3JBcXQxcStt
	c1hLelFyVVN0dUs0dHJxR3ZGcStMc0FDd2RiRHFzV0N4MXJKTHNzS3pPTE91dENXMG5M
	VVR0WXEyQWJaNXR2QzNhTGZndUZtNDBibEt1Y0s2TzdxMXV5NjdwN3dodkp1OUZiMlB2
	Z3EraEw3XC92M3FcLzljQnd3T3pCWjhIandsXC9DMjhOWXc5VEVVY1RPeFV2RnlNWkd4
	c1BIUWNlXC95RDNJdk1rNnlibktPTXEzeXpiTHRzdzF6TFhOTmMyMXpqYk90czgzejdq
	UU9kQzYwVHpSdnRJXC8wc0hUUk5QRzFFblV5OVZPMWRIV1ZkYlkxMXpYNE5oazJPalpi
	Tm54Mm5iYSs5dUEzQVhjaXQwUTNaYmVITjZpM3luZnIrQTI0TDNoUk9ITTRsUGkyK05q
	NCt2a2MrVDg1WVRtRGVhVzV4XC9ucWVneTZMenBSdW5RNmx2cTVldHc2XC92c2h1MFI3
	Wnp1S082MDcwRHZ6UEJZOE9YeGN2SFwvOG96ekdmT245RFQwd3ZWUTlkNzJiZmI3OTRy
	NEdmaW8rVGo1eFwvcFgrdWY3ZFwvd0hcL0pqOUtmMjZcL2t2KzNQOXRcL1wvOD0iLCJj
	b21wb25lbnRzIjpbMCwxXX0sImlzSW5zZXQiOmZhbHNlLCJoYXNTaGFkb3ciOmZhbHNl
	LCJmdWxsU2hhcGVJbmZvIjp7ImxlYWRpbmdFbmRDYXAiOjEsInRyYWlsaW5nRW5kQ2Fw
	IjoxfSwic3BsaXRTaGFwZUluZm8iOnsidHJhaWxpbmciOnsibGVhZGluZ0VuZENhcCI6
	MSwidHJhaWxpbmdFbmRDYXAiOjF9LCJsZWFkaW5nIjp7ImxlYWRpbmdFbmRDYXAiOjEs
	InRyYWlsaW5nRW5kQ2FwIjoxfX0sImJvcmRlcldpZHRoIjoxLCJ0aW50S2luZCI6MH0=
	</data>
	<key>NSSplitView Subview Frames SettingsWindow, SidebarNavigationSplitView</key>
	<array>
		<string>0.000000, 0.000000, 210.000000, 944.000000, NO, NO</string>
		<string>211.000000, 0.000000, 749.000000, 944.000000, NO, NO</string>
	</array>
	<key>NSStatusItem Preferred Position AHItem</key>
	<real>5473</real>
	<key>NSStatusItem Preferred Position HItem</key>
	<real>226</real>
	<key>NSStatusItem Preferred Position SItem</key>
	<real>193</real>
	<key>NSStatusItem Visible AHItem</key>
	<true/>
	<key>NSWindow Frame PermissionsWindow</key>
	<string>0 1 493 591 0 0 1512 944 </string>
	<key>NSWindow Frame SUUpdateAlert</key>
	<string>1610 1302 620 398 0 0 3840 2135 </string>
	<key>NSWindow Frame SettingsWindow</key>
	<string>106 0 960 944 0 0 1512 944 </string>
	<key>RehideInterval</key>
	<real>15</real>
	<key>RehideStrategy</key>
	<integer>0</integer>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2025-11-07T09:53:57Z</date>
	<key>SUSendProfileInfo</key>
	<false/>
	<key>SUUpdateGroupIdentifier</key>
	<integer>3380062743</integer>
	<key>ShowAllSectionsOnUserDrag</key>
	<true/>
	<key>ShowIceIcon</key>
	<true/>
	<key>ShowOnClick</key>
	<true/>
	<key>ShowOnHover</key>
	<false/>
	<key>ShowOnHoverDelay</key>
	<real>0.20000000000000001</real>
	<key>ShowOnScroll</key>
	<true/>
	<key>ShowSectionDividers</key>
	<false/>
	<key>TempShowInterval</key>
	<real>15</real>
	<key>UseIceBar</key>
	<false/>
	<key>hasMigrated0_10_0</key>
	<true/>
	<key>hasMigrated0_10_1</key>
	<true/>
	<key>hasMigrated0_8_0</key>
	<true/>
</dict>
</plist>
