[user]
	name = Nate Berkopec
	email = nate.berkopec@gmail.com
	signingkey = 19616755F4328D71
[push]
  default = simple
        followTags = true
	autoSetupRemote = true
[github]
  user = nateberkopec
[credential]
	helper = osxkeychain
[filter "lfs"]
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        required = true
        process = git-lfs filter-process
[color]
        ui = true
[alias]
        commend = commit --amend --no-edit
        please = push --force-with-lease
        co-main = "!f() { git checkout main || git checkout master; }; f"
        co = checkout
        wt = "!f() { git worktree add .worktrees/$1 $1; }; f"
        wtn = "!f() { git worktree add -b $1 .worktrees/$1; }; f"
[core]
        excludesfile = /Users/nateberkopec/.gitignore
	editor = code -w
[pull]
        rebase = false
[init]
        defaultBranch = main
[branch]
	sort = -committerdate
[commit]
	gpgsign = true
[gpg]
	program = gpg
