model = "gpt-5.3-codex"
model_reasoning_effort = "high"
suppress_unstable_features_warning = true

[features]
ghost_commit = false
unified_exec = true
apply_patch_freeform = true
skills = true
shell_snapshot = true

[projects."/Users/nateberkopec/Documents/Code.nosync"]
trust_level = "trusted"
